<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteHub</title>
    <link rel="stylesheet" href="/style/note.css">
    <link rel="stylesheet" href="/style/utility.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    

</head>
<body>
    <main class="main">
        <div class="left">
            <a href="/" class="logo-div link">
                <img class="logo" src="/img/logo.png" alt="" />
                <h1 class="title">
                  <span class="cwhite">Note</span> <span class="corange">Hub</span>
                </h1>
            </a>

              <a href="/new" class="link">
                  <div class="create-new">
                <i class="create-icon fa-solid fa-circle-plus" id="create"></i>
                <label for="create" class="create-label">Create New</label>
              </div>
                </a>
            

              <ul class="title-continer">
                  <% for(let note of notes) {%> 
                  <a href="/notes/<%= note._id %>  " class="link"><li class="note-title"><%= note.title %> </li></a>
                  <% } %> 
                  
              </ul>
        </div>

        <div class="right">
            <div class="right-content">
            <h1 class="title-note"><%= thisNote.title %> </h1>
            <p class="note"><%= thisNote.note %> </p>
        </div>
        <div class="buttons">
           <button class="button btn-yellow">
            <a href="/notes/<%= thisNote._id %>/edit" class="no-link-button">
                <span class="animate-yellow"></span>
                Edit
            </a> </button>
             
            <form action="/notes/<%= thisNote._id %>?_method=DELETE" method="POST">
            <button class="button btn-red">
                <span class="animate-red"></span>
                Delete</button>
            </form>
        </div>

        <a href="/logout" class="logout"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>


            <footer class="footer">
                <p>Made with <i class="fa-solid fa-heart"></i></p>
                <p>&copy; to X-MEN Team</p>
            </footer>        
       
        </div>


        <div class="burger-cont-super"></div>
        <div class="burger-cont">
    <span class="burger"></span>
</div>


    </main>

    <script src="/js/note.js"></script>
</body>
</html>